
body {
  background-color: pink;
}

main {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

p {
  width: 40%;
}

.mainSection2Images {
  display: flex;
  flex-direction: row;
}

.largeImageGroup {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.smallImageGroup {
  width: 50%;
  height: 50%;
  text-align: center;
}

.large-image {
  width: 75%;
  height: 75%;
  margin: 30px;
  display: flex;
}

.small-image {
  height: 25%;
  width: 25%;
  margin: 30px;
}
